@charset "utf-8";
/* CSS Document */

body,p,div,table,img,ul,li,dl,dt,dd,fieldset,textarea{
	margin:0px; padding:0px; border:none; border-spacing:0px; border-collapse:collapse;
	resize:none; list-style:none; font-family: Malgun Gothic, "맑은 고딕", dotum, Sans-serif;
}
h1,h2,h3,h4,h5,h6{
	width:0px; height:0px; font-size:0px; line-height:0px; position:absolute; overflow:hidden;
}

/* 메인 css 시작 */

body{
	background:#000000;
}

#basic{
	width:100%; height:2652px;
}
#header{
	width:100%; height:70px; background:rgba(0,0,0,0.5); position:fixed; top:0px; z-index:99999; color:#fff; font-weight:bold; font-size:20px;
}
#top{
	width:1000px; margin:0px auto;
}
#logo{
	margin-top:14px; float:left;
}
#menu li{
	float:left;	margin-left:53px; margin-right:50px; margin-top:20px;
}
#menu li a{
	text-decoration:none; color:#fff;
}
#menu li a:hover, #menu li a:active{
	text-decoration:underline; color:#da0000
}
 @media screen and (max-width:480px) {
        #basic{
		width:auto;
		}
		
		#main {
          width: auto;
        }
        #wrap {
          float: none;
          width: auto;
        }
        #blog {
          float: none;
          width: auto;
        }
      }


/* 상단(메인) */
#main{
	height:884px; position:relative; z-index:99; top:0px; background:url(../img/main_bg.jpg) center;
}
/*#main_bg{
	position:absolute; left:50%; margin-left:-950px;
}*/
.mainsize{
	width:1000px; height:884px; margin:0px auto;
}
#title{
	width:663px; height:68px; position:relative; top:193px; margin-left:169px;
}
#video{
	width:854px; height:480px; position:relative; top:300px; margin-left:95px;
}
#iframe{
	z-index:99;
}





/* 중단(맵) */
#wrap{
	height:883px; position:relative; z-index:99; margin:0px auto;
}
#main_bn{
	position:relative; overflow:hidden; left:50%; margin-left:-950px;
}
#main_bn li img{
	width:100%; max-width:100%;
}
#main_bn_bt{
	height:30px; position:relative; bottom:80px; width:1000px; margin:0px auto;
}
#main_bn_bt li{	
float: left; padding-right:5px; color:#fff; margin-right:5px;
}



/*하단(블로그) */
#blog{
	height:884px; position:relative; z-index:99; background:url(../img/blog_bg.jpg) center;
}
/*#blog_bg{
	position:absolute; left:50%; margin-left:-950px;
}*/
.blogsize{
	width:1000px; height:884px; margin:0px auto;
}
.e3blog{
	width:922px; height:324px; position:relative; top:170px; letf:44px;
}
#blog_title{
	height:30px; float:left;
}
#bt{
	width:400px; float:left; font-weight:bold; font-size:38px; color:#fff; float:left;
}
#line{
	width:491px; margin-top:23px; margin-left:400px; color:#dddddd;
}
#blog_contents{
	height:264px; float:left; margin-top:60px;
}
#blog_contents li{
	float:left;
}
#blog01{
	width:290px; margin-right:20px;
}
#blog02{
	width:290px; margin-right:20px;
}
#blog03{
	width:290px;
}
.blog_title{
	font-size:20px; color:#fff; margin-top:10px;
}
.data{
	font-size:15px; color:#464646; float:left; margin-top:5px;
}
.go{
	font-size:15px; color:#464646; text-align:right; margin-top:5px;
}
.go a{
	text-decoration:none; color:#464646;
}


/* 푸터 영역 */
#footer{
	color:#fff; width:774px; height:98px; position:relative; top:300px; margin:0px auto;
}
.cooming{
	text-align:center; font-weight:bold; font-size:45px; color:rgba(255,255,255,0.2);
}
.copy{
	text-align:center; font:normal 11px "돋움"; text-shadow: 2px 2px black; margin-top:45px;
}
.copy span{
	color:#739400;
}